$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 0, // The size of a gutter in relation to a single column
);

html, body {
  background: #000;
}
html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
   img {
     width: 18%;
     position:absolute;
     right:0;
     left: 0;
     top:0;
     margin: auto;
     display: block;
     cursor: pointer;
   }
}

.page {
  background: url(/content/slides/home.jpg) no-repeat center center fixed;
  background-size: cover;
  border-image-source: url(/content/slides/border.png);
  border-image-slice: 40;
  border-image-width: 25px;
  border-image-outset: 1;
  box-shadow: inset 0 0 10em #000;

  h1 {
    font-weight: normal;
    font-family: 'DarbySansPoster-Light';
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 12px 0px;
    width: 300px;
    height: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    max-height: 90px;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  }
}

#app {
  .footer {
    position: absolute;
    bottom: 15px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 10px;
    color: #BDBDBD;
    font-family: 'DarbySans-Light';
    font-weight: normal;
    width: 520px;
    ul {
      list-style: none;

      li {
        float: left;
        padding: 5px 20px;

        border-right: 1px solid #BDBDBD;
        text-shadow: 0px 2px 3px rgba(0,0,0,0.4);

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    ul {
      list-style: none;
      width: calc(100% - 315px);
      margin-left: 10px;

      li {
        float: left;
        padding: 8px 7px;
         a {
           text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
           font-family: DarbySans-Light;
           color: #fff;
           text-decoration: none;
           font-size: 12px;
           cursor: pointer;
           text-transform: uppercase;
         }
      }

      @include mq($break-point-2) {
        li {
          padding: 8px 2px;
          text-align: center;
          width: 16%;
          a{
              font-size: 11px;
          }

        }
      }


      @include mq($break-point-1) {
        li {
          width: 16%;
          text-align: center;

          a {
            font-size: 14px;
          }
        }
      }




    }

    .booking-calendar {

      text-align: center;
      background: url(/content/bookNowButton.png) no-repeat;
      background-position: 0 0;
      background-size: 100%;
      width: 140px;
      float: right;
      min-height: 40px;
      margin-right: 80px;
      font-family: DarbySansPoster-XLight;
      color: #fff;
      & > a{

        color: #fff;
        padding: 9px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
      }
      &.open {
        width: 260px;
        background: #000;
        border-image-source: url(/content/calendar_frame.png);
        border-image-slice: 10;
        border-image-width: 10px;
        border-image-outset: 1;
        background-size: 100% 100%;
        padding: 10px;
        margin-right: 20px;

        .calendarHeading {
          display: block;
          text-align: center;
          padding: 10px 0px
        }

        & > a {
          margin-top: -13px;
        }
      }

      .calendarWrapper {

        .date-picker {
          background: #000;
          color: #fff;
          font-size: 12px;
          table {
            margin: 0 auto;
          }

          .dp-month-view {
            font-size: 14px;
          }

          .dp-decade-view {
            font-size: 16px;
          }

          .dp-nav-cell {
            color: #000;
            border-color: #A68451;
            display: block;
            &.dp-prev-nav {
              width: 0;
            	height: 0;
            	border-top: 5px solid transparent;
            	border-bottom: 5px solid transparent;
            	border-right:5px solid #A68451;
              padding: 0;
              margin-top: 5px;
              margin-right: 5px;
            }

            &.dp-next-nav {
              width: 0;
            	height: 0;
            	border-top: 5px solid transparent;
            	border-bottom: 5px solid transparent;
            	border-left: 5px solid #A68451;
              padding: 0;
              margin-top: 5px;
              margin-left: 5px;
            }
          }

          .dp-cell {

            &.dp-disabled {
              color: #9f9f9f;
            }
            cursor: pointer;
            padding: 4px;

            &:active, &:focus {
              background: #A68451;
            }

            &:first-child {

            }

            &:last-child {

            }
          }
        }
      }


    }
  }
}

.socialSection {
  position: absolute;
  bottom: 15px;
  right: 50px;
  .socialButton {
    margin: 0px 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    display: block;
    float: left;
    width: 20px;
    height:20px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
